<section class="content">
    <h1 class="title">WE'RE SORRY!</h1>
    <p class="text">Something went wrong.</p>
    <p class="text">Please scan another card</p>
    <button class="button" (click)="finish()">BACK</button>
</section>