@import '../sass/variables.scss';

*,
*:before,
*:after {
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    background-color: $body__background;
    background-image: url('./assets/images/canon-bg.png');
}

.content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 5rem;
}
