.button {
    padding: 0.5rem 4rem;
    border: solid 0.1rem $button__border;
    border-radius: 0;
    background-color: transparent;
    color: $button__color;
    font-size: 1rem;
    margin: 1.5rem 0;
    transition: background-color 0.25s ease, color 0.25s ease;
    max-width: 400px;
    margin: 1.3rem auto;

    &:active {
        background-color: $canon-red;
        color: $white;
    }

    &:disabled {
        color: #aaa;
        border-color: #aaa;
    }

    &.disabled {
        color: #aaa;
        border-color: #aaa;
    }

     &--red {
        background-color: $canon-red;
        color: $white;
    }
}
