@media screen and (min-width: 550px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 700px) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width: 900px) {
    html {
        font-size: 22px;
    }
}

@media screen and (min-width: 1100px) {
    html {
        font-size: 24px;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 28px;
    }
}
