@font-face {
    font-family: 'OpticSans';
    src: url("./assets/fonts/OpticSans-201-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpticSans';
    src: url("./assets/fonts/OpticSans-401-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

html,
button,
input,
select,
textarea {
    font-size: 1rem;
    font-family: 'OpticSans', sans-serif;
    font-weight: 400;
    color: $black;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.title {
    margin: 0 0 1.5rem;
    color: $black;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.text {
    margin: 0 0 1.5rem;
    color: $black;
    font-size: 1.15rem;
    text-align: center;
}
