// COLORS
// Canon guideline colours
$canon-red: rgb(250,0,30);
$infrared: rgb(142,25,28);
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$light-gray-1: rgb(240,240,240);
$light-gray-2: rgb(230,230,230);
$light-gray-3: rgb(204,204,204);
$gray-1: rgb(102,103,102);
$dark-gray-1: rgb(76,75,76);
$dark-gray-2: rgb(51,51,51);

$custom-red-1: rgb(202,8,19);

// HTML ELEMENTS
$body__background:  $light-gray-1;

$button__border: $custom-red-1;
$button__color: $custom-red-1;
$button__background-active: $custom-red-1;
$button__text-active: $white;
