:host {
    display: flex;
    width: 100%;
    height: 100%;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .product {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        padding-right: 1.5rem;
        .product-radio {
            transform: scale(2.4);
        }
        .product-label {
            padding-left: 1rem;
            .product-name {
                margin: 0;
            }
        }
    }
}