<section class="content">
    <h1 class="title">Settings</h1>
    <p class="text">Choose a Product</p>
    <div class="products">
        <div class="product" *ngFor="let product of products">
            <input type="radio" 
            name="productId" 
            [id]="product.id"
            [value]="product"
            [(ngModel)]="selected">
            <label class="product-label"
            [for]="product.id">
                <h3 class="product-name">{{ product.id }}</h3>
            </label>
        </div>
    </div>

    <button type="button" class="button" (click)="select()" [disabled]="!selected">Select</button>
</section>
