<section class="content" [ngClass]="{'hidden': scanned}">
    <h1 class="title">Add this stop to your Canon Passport journey</h1>
    <p class="text">Hold your QR code in front of the camera</p>
    <div class="video-container">
        <video class="video" id="feed"></video>
        <div class="border tl"></div>
        <div class="border tr"></div>
        <div class="border bl"></div>
        <div class="border br"></div>
    </div>

    <button class="button" (click)='cancel()'>Cancel</button>
</section>

<section class="content" [ngClass]="{'hidden': !scanned}">
    <div class="loading">
        <img src="assets/images/loader.gif" alt="Loader GIF" title="Loader GIF" class="icon">
    </div>
</section>