@import '../../../sass/variables.scss';

:host {
    display: flex;
    height: 100%;
    width: 100%;
}

.content {
    // padding-top: 0;
    &.hidden {
        display: none !important;
    }
}

.title {
    // margin: 0 0 3rem 0;

}

.text {
    font-size: 1.4rem;
    margin: 0 0 3rem 0;
}

.button {
    margin-top: 2rem;
}

.video-container {
    height: 30vw;
    position: relative;
    overflow: hidden;
    background-color: $white;
    width: 30vw;
    .video {
        display: block;
        height: 100%;
        left: 0;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        transform: scaleY(-1);
        width: 100%
    }
    .border {
        height: 3rem;
        pointer-events: none;
        position: absolute;
        width: 3rem;
        &.tl {
            top: 1rem;
            left: 1rem;
            border-left: 0.1rem solid $custom-red-1;
            border-top: 0.1rem solid $custom-red-1;
        }
        &.tr {
            top: 1rem;
            right: 1rem;
            border-right: 0.1rem solid $custom-red-1;
            border-top: 0.1rem solid $custom-red-1;
        }
        &.bl {
            bottom: 1rem;
            left: 1rem;
            border-left: 0.1rem solid $custom-red-1;
            border-bottom: 0.1rem solid $custom-red-1;
        }
        &.br {
            bottom: 1rem;
            right: 1rem;
            border-right: 0.1rem solid $custom-red-1;
            border-bottom: 0.1rem solid $custom-red-1;
        }
    }
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    .icon {
        width: 25%;
    }
    .text {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}