<div class="modal {{ options.hasClass }}">
    <div class="modal-body">
        <div class="modal-header">
            <!-- <span class="modal-close" [style.background-image]="'url(assets/svg/close.svg)'" (click)="action('CLOSE')"></span> -->
            <div class="modal-header--background"></div>
            <div class="modal-header--title">
                <h1 class="u-modal-title">{{ options.title }}</h1>
                <div class="modal-content u-modal-content">
                    <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
                </div>
            </div>
        </div>

        <!-- <div class="modal-content">
          <ng-container *ngTemplateOutlet="tempOutlet" ></ng-container>
      </div> -->

        <ng-template #tempOutlet>
            <ng-content></ng-content>
        </ng-template>

    </div>
</div>
<div class="modal-background"></div>
