:host {
    display: none;

    .modal {
        background: white;
        height: 100vh;
        left: 0;
        position: fixed;
        overflow: auto;
        top: 0;
        z-index: 1000;
        width: 100%;

        .modal-body {
            background: white;
            margin: 0 auto;
            width: 100%;
            max-height: 80vh;
            overflow: auto;
        }

        .modal-content {
            padding: 0.315rem 1.875rem 1.56rem;
        }

        .modal-header {
            position: relative;
            width: 100%;
        }

        .u-modal-content,
        .u-modal-title {
            margin: 0;
        }

        .u-modal-title {
            margin-top: 2.5rem;
            text-align: center;
        }

        .u-modal-content {
            text-align: left;
            padding-top: 2.5rem;
        }

        .modal-close {
            background-size: contain;
            background-repeat: no-repeat;
            height: 1.5rem;
            position: absolute;
            right: 1.5rem;
            top: 0;
            width: 1.6rem;
        }
    }

    .small-modal {
        background: white;
        height: auto;
        left: 0;
        position: fixed;
        top: 0;
        z-index: 1000;
        max-width: 90%;
        max-height: 900px;
        margin: 0 auto;
        overflow: auto;
        padding-bottom: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .modal-content {
            align-items: center;
            display: flex;
            flex-direction: column;
            max-width: 100%;
            margin: 0 auto;

            .c-btn {
                margin-top: 1.25rem;
            }
        }
    }
}

.modal-background {
    background-color: black;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 900;
}

.modal-btn {
    &__close {
        background-color: transparent;
        border: none;
        height: 3.125rem;
        overflow: hidden;
        position: absolute;
        right: 3.125rem;
        top: 3.125rem;
        width: 1.56rem;

        &:after,
        &:before {
            content: '';
            background: black;
            height: 2px;
            left: 0;
            margin-top: -1px;
            position: absolute;
            top: 50%;
            width: 100%;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}

#terms-modal {
    .modal {
        background: white;
        left: 0;
        position: fixed;
        overflow: auto;
        top: 0;
        z-index: 1000;
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
