<section class="content" (click)="nextPage(product.active.object_id[0].name, product.active.object_id.length === 1)">
    <h1 class="title">{{ product.active.id }}</h1>
    <p class="text">{{ product.active.cta }} </p>

    <!-- <a class="link" *ngIf="product.active.terms_and_conditions" (click)="openTerms($event)">(terms & conditions)</a> -->

    
    <div class="selection">
        <div class="selection-item" *ngFor="let objectId of product.active.object_id">
            <img class="selection-image" [src]="objectId.image" />
        </div>
    </div>

    <button class="button" *ngIf="product.active.object_id.length ===1" type="button" (click)="nextPage(product.active.object_id[0].name, true)">LET'S GO</button>
    
</section>

<!-- <product-terms *ngIf="termsActive" [link]="link" (close)="close()"></product-terms> -->

<app-modal id="terms-modal">
    <h2>NO PURCHASE OR PAYMENT NECESSARY TO ENTER OR WIN. A PURCHASE DOES NOT IMPROVE YOUR CHANCE OF WINNING.</h2>


    <p><span style="text-decoration: underline; cursor: pointer">How to Enter:</span> Visit the Canon U.S.A., Inc. (“Canon”) Booth in the Central Hall at NAB 2019 (the “Event”), find the CarePAK PLUS counter and have your Canon Passport or QR Code scanned on April 8, 2019 from 10:00 a.m. to 6:00 p.m. PT, April 9, 2019 from 9:00 a.m. to 6:00 p.m. PT, April 10, 2019 from 9:00 a.m. to 6:00 p.m. PT, or April 11, 2019 from 9:00 a.m. to 2:00 p.m PT. (the "Entry Period").  A limit of one entry per person during the Entry Period. Subsequent entries from the same individual will be automatically disqualified. The name and relevant personal information you submit must match your own name as evidenced by valid government-issued identification such as a driver's license or passport. When entering the Sweepstakes, you may be asked to consent to receive e-mails regarding information about Canon and its products. Consenting to receive such e-mails is optional and does not have to be agreed to in order to enter the Sweepstakes and does not improve your chances of winning.</p>

    <p><span style="text-decoration: underline; cursor: pointer">Selection of Winner:</span> From all valid entries received, a random drawing will be conducted on or about April 25, 2019. There will be one (1) winner chosen from all eligible entries in this Sweepstakes. Canon will notify the “Potential Winner” on or about April 28, 2019.  If the Potential Winner fails to respond to any notification attempt within the time period specified by Canon, or if any attempted notification or prize delivery is returned as undeliverable, or if the Potential Winner fails to complete and return any required paperwork within the specified time period, the Potential Winner may be disqualified and an alternate potential winner selected.  Once eligibility is confirmed and any required paperwork is received, the Potential Winner becomes the “Winner.”</p>
    
    <p><span style="text-decoration: underline; cursor: pointer">Prize:</span>One (1) Winner will receive a Canon EOS 80D EF-S 18-135mm f/3.5-5.6 IS USM Lens Kit with a three (3) year CarePAK PLUS plan (approx. retail value: Canon EOS 80D EF-S 18-135mm f/3.5-5.6 IS USM Lens Kit: $1,799.00; CarePAK PLUS 3 Year Plan for 80D Kit $176.99; Total ARV $1,975.99.). Terms and Conditions apply to the CarePAK PLUS plan. You must register your Canon EOS 80D EF-S 18-135mm f/3.5-5.6 IS USM Lens Kit at usa.canon.com/carepak-plus within 90 days from the day you accept your prize in order to activate your CarePAK PLUS plan. Odds of winning depend on the number of valid entries received. Any difference between the approximate retail value and the actual value of the prize will not be awarded. All federal, state and local taxes, and all other costs or expenses associated with acceptance or use of the Prize not specified herein, are the sole responsibility of each winner.  Arrangements for delivery of prize will be made after winner verification. An IRS Form 1099 will be issued to the winner if required by law.</p>


    <p><span style="text-decoration: underline; cursor: pointer">Eligibility:</span>Must be an attendee of NAB 2019 and 18 years of age or older as of April 8, 2019 and a legal resident of the 50 United States or the District of Columbia to enter. Void outside the U.S. and where prohibited or restricted by law. Employees of Canon, its parent, subsidiaries, affiliates, distributors, advertising, promotion and production agencies (and their immediate families) are not eligible to enter or win.</p>

    <p><span style="text-decoration: underline; cursor: pointer">General:</span>Prize(s) are nontransferable and no substitution for cash or otherwise is allowed except by Canon, which reserves the right to award a prize of equal or greater value if the advertised prize is unavailable. By participating, all entrants release Canon, its parent, subsidiaries, affiliates, distributors, advertising, promotion and production agencies and their respective directors, officers, employees, and agents, from any and all responsibility or liability for damages, losses, or injury resulting from all aspects of the Sweepstakes and the acceptance, possession, use or misuse of the prize(s). The end user Limited Warranty, if any, accompanying the prize(s) governs use and misuse of the prize(s).  All federal, state, and local taxes, if any, related to the prize are the sole responsibility of the individual winner. The Potential Winner does not need to be present at the time of the drawing to claim their prize.  The Potential Winner will be required to verify name, age and address and execute an Affidavit of Eligibility, Release of Liability and Prize Acceptance form within the timeframe specified by Canon, or the prize will be forfeited, and an alternate Potential Winner will be selected in a random drawing from among all other valid entries during the Entry Period. Once eligibility is confirmed, the Potential Winner will become the Winner and is approved to receive his/her prize.  Acceptance of a prize constitutes permission to use the winner's name, photo, likeness and/or biographical information in advertising or for promotional purposes without further compensation, except where prohibited by law. Canon reserves the right, in its sole discretion, to disqualify any individual who tampers with the entry process, and to cancel, terminate, modify or suspend the Sweepstakes at any time. Canon assumes no liability or responsibility for any technical, hardware, or software malfunctions of any kind, or failed, incorrect, incomplete, inaccurate, illegible, garbled, lost, misdirected, misdelivered, damaged, or late entries or delayed results caused by any of the equipment associated with or utilized in this Sweepstakes which may limit the ability to participate, or for any human error which may occur in the processing of the entries in this Sweepstakes, or for printing or typographical errors. In the event information submission data is corrupted or lost, a winner will be randomly chosen from among all eligible attendees at the Event (provided by NAB) and retrievable entries, and then notified by mail to execute and return the required paperwork, in accordance with the terms of these Official Rules.  By entering this Sweepstakes, each entrant accepts and agrees to be bound by these Official Rules and the decisions of Canon, which are final and binding in all matters pertaining to this Sweepstakes</p>

    <p><span style="text-decoration: underline; cursor: pointer">Winner Name:</span>To obtain a winner list, send a self-addressed stamped envelope, to be received no later July 1, 2019 to "CarePAK PLUS at NAB 2019 Sweepstakes" to Canon U.S.A., Inc., One Canon Park, Melville, NY 11747; Attn: Steven Rowland.</p>

    <p><span style="text-decoration: underline; cursor: pointer">Sponsor:</span>Canon U.S.A., Inc., One Canon Park, Melville, NY, 11747-3336</p>

    <button class="button" (click)="termsExcept(product.active.object_id[0].name, true)">
        I understand
    </button>
</app-modal>