:host {
    display: flex;
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    padding: 0 20% 0;
}

.title {
    margin-bottom: 0;
}

.text {
    font-size: 1.4rem;
    text-align: center;

    &:first-of-type {
        margin-bottom: 1rem;
    }
}

img {
    display: block;
    margin: 1rem auto;
    width: 100%;
}

