:host {
    display: flex;
    height: 100%;
    width: 100%;

    .qrcode {
        width: 35%;
        display: block;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .text {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 1.4rem;
    }

    .title {
        margin-bottom: 0;
    }

    .button {
        margin-top: 2rem;
    }
}
