{{ caption }}
<ng-container [ngTemplateOutlet]="templateRef"></ng-container>

<ng-template #KEY_DEL>
    <svg x="0px" y="0px" width="350px" height="256px" viewBox="0 0 350 256" enable-background="new 0 0 350 256" xml:space="preserve">
        <polygon fill="none" stroke="#1D1D1B" stroke-width="20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="321.261,126 321.261,90.333 321.261,23.071 115.405,23.071 20.143,126 115.405,228.928 321.261,228.928 321.261,161.666 " />
        <path fill="none" stroke="#1D1D1B" stroke-width="20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M120.928,169.572" />
        <path fill="none" stroke="#1D1D1B" stroke-width="20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M210.928,79.572" />
        <line fill="none" stroke="#1D1D1B" stroke-width="20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="146.214" y1="65.001" x2="274.357" y2="193.144" />
        <line fill="none" stroke="#1D1D1B" stroke-width="20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="274.357" y1="65.001" x2="146.215" y2="193.144" />
    </svg>
</ng-template>

<ng-template #KEY_SHIFT>
    <svg x="0px" y="0px" width="256px" height="256px" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve">
        <polygon fill="none" stroke="#1D1D1B" stroke-width="20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="128,228.928 163.666,228.928 163.666,118.333 230.928,118.333 128,23.071 25.071,118.333 92.333,118.333 92.333,228.928 " />
    </svg>
</ng-template>

<ng-template #KEY_LEFT>
    <svg x="0px" y="0px" width="256px" height="256px" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve">
        <polyline fill="none" stroke="#1D1D1B" stroke-width="20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="122.805,25.072 27.542,128 122.805,230.928 " />
        <line fill="none" stroke="#1D1D1B" stroke-width="20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="27.542" y1="128" x2="228.458" y2="128" />
    </svg>
</ng-template>

<ng-template #KEY_RIGHT>
    <svg x="0px" y="0px" width="256px" height="256px" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve">
        <polyline fill="none" stroke="#1D1D1B" stroke-width="20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="133.195,25.072 228.458,128 133.195,230.928 " />
        <line fill="none" stroke="#1D1D1B" stroke-width="20" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="228.458" y1="128" x2="27.542" y2="128" />
    </svg>
</ng-template>

<ng-template #ALPHA>
    <span>abc</span>
</ng-template>

<ng-template #NUMERIC>
    <span>123</span>
</ng-template>
