@keyframes flash {
    0% {
        background-color: black;
        color: white;
    }

    100% {
        background-color: white;
        color: black;
    }
}

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2em;
    height: 2em;
    background-color: white;
    color: black;
    margin: 0.125em;
    border-radius: 0.25em;
    font-size: 1rem;
    font-size: calc(16px + (50 - 16) * ((100vw - 320px) / (1800 - 320)));
    border: solid 1px #e0e0e0;
    pointer-events: all;
    animation: none;
    pointer-events: inherit;

    &.key-space {
        min-width: 15em;
    }

    svg {
        height: 1em;
        width: 1em;
    }

    &.key-del svg {
        height: 1.5em;
        width: 1.5em;
    }

    &.flash {
        animation: flash 0.15s forwards;
    }

    &.key-alpha.flash,
    app-keyboard-key.key-numeric.flash {
        animation: none;
    }
}
