<div class="row alpha">
    <app-keyboard-key [data-key]="'q'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'w'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'e'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'r'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'t'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'y'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'u'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'i'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'o'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'p'"></app-keyboard-key>
    <app-keyboard-key class="key-del" [data-key]="'[DEL]'" [template-id]="'KEY_DEL'"></app-keyboard-key>
</div>

<div class="row alpha">
    <app-keyboard-key [data-key]="'a'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'s'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'d'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'f'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'g'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'h'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'j'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'k'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'l'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'\''"></app-keyboard-key>
</div>

<div class="row alpha">
    <app-keyboard-key class="key-shift" [data-key]="'[SHIFT]'" [template-id]="'KEY_SHIFT'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'z'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'x'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'c'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'v'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'b'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'n'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'m'"></app-keyboard-key>
    <app-keyboard-key [data-key]="','"></app-keyboard-key>
    <app-keyboard-key [data-key]="'.'"></app-keyboard-key>
    <app-keyboard-key class="key-shift" [data-key]="'[SHIFT]'" [template-id]="'KEY_SHIFT'"></app-keyboard-key>
</div>

<div class="row alpha">
    <app-keyboard-key class="key-numeric" [data-key]="'[NUMERIC]'" [template-id]="'NUMERIC'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'[LEFT]'" [template-id]="'KEY_LEFT'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'[RIGHT]'" [template-id]="'KEY_RIGHT'"></app-keyboard-key>
    <app-keyboard-key class="key-space" [data-key]="' '"></app-keyboard-key>
    <app-keyboard-key [data-key]="'@'"></app-keyboard-key>
</div>


<div class="row numeric">
    <app-keyboard-key [data-key]="'1'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'2'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'3'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'4'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'5'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'6'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'7'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'8'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'9'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'0'"></app-keyboard-key>
    <app-keyboard-key class="key-del" [data-key]="'[DEL]'" [template-id]="'KEY_DEL'"></app-keyboard-key>
</div>

<div class="row numeric">
    <app-keyboard-key [data-key]="'+'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'*'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'#'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'='"></app-keyboard-key>
    <app-keyboard-key [data-key]="'%'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'^'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'_'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'~'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'!'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'\''"></app-keyboard-key>
</div>

<div class="row numeric">
    <app-keyboard-key [data-key]="'-'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'/'"></app-keyboard-key>
    <app-keyboard-key [data-key]="':'"></app-keyboard-key>
    <app-keyboard-key [data-key]="';'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'('"></app-keyboard-key>
    <app-keyboard-key [data-key]="')'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'$'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'&'"></app-keyboard-key>
    <app-keyboard-key [data-key]="','"></app-keyboard-key>
    <app-keyboard-key [data-key]="'.'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'?'"></app-keyboard-key>
</div>

<div class="row numeric">
    <app-keyboard-key class="key-alpha" [data-key]="'[ALPHA]'" [template-id]="'ALPHA'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'[LEFT]'" [template-id]="'KEY_LEFT'"></app-keyboard-key>
    <app-keyboard-key [data-key]="'[RIGHT]'" [template-id]="'KEY_RIGHT'"></app-keyboard-key>
    <app-keyboard-key class="key-space" [data-key]="' '"></app-keyboard-key>
    <app-keyboard-key [data-key]="'@'"></app-keyboard-key>
</div>
