@import '../.././../../../sass/variables.scss';

:host {
    position: fixed;
    z-index: 200;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $dark-gray-one;
    // toggle states for keys.
    .alpha {
        display: none;
    }

    .numeric {
        display: flex;
    }

    &.alpha {
        .alpha {
            display: flex;
        }

        .numeric {
            display: none;
        }
    }
}

.row {
    display: flex;
    flex-direction: row;
}

.row.hide {
    display: none;
}
