<div class="overlay">
    <div class="overlay-content">
        <div class="close" (click)="closeOverlay()" [style.background-image]="'url(assets/images/close.svg)'"></div>
        <div [innerHtml]="text"></div>
    </div>
</div>
    