.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    .overlay-content {
        width: 65%;
        padding: 3rem 1rem 1rem;
        max-height: 90%;
        overflow: auto;
        position: relative;
        background-color: rgb(255,255,255);
        .close {
            position: absolute;
            right: 1rem;
            top: 1rem;
            width: 1.5rem;
            height: 1.5rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
