<section class="c-qr-scan">
    <div class="scanner-content">
        <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
    </div>

    <ng-template #tempOutlet>
        <ng-content></ng-content>
    </ng-template>

    <div class="c-qr-scan__wrapper">
        <video id="qr-scan" playsinline [ngClass]="{'mirror': apple || (cameras.length > 1 && camera === 0) }"></video>
        <div class="element">
            <div class="top-left"></div>
            <div class="top-right"></div>
            <div class="bottom-left"></div>
            <div class="bottom-right"></div>
        </div>
    </div>

    <button *ngIf="displaySwitch" class="c-btn" type="button" (click)="switchCamera()">Switch Camera</button>

</section>
    