
@import "./sass/fonts.scss";
@import "./sass/base";
// @import "./sass/typography";
@import "./sass/button";
@import "./sass/variables";
@import "./sass/sizing";
@import "./sass/normalize";

*,
*:before,
*:after {
    box-sizing: border-box;
}

body, html {
    background-color: $light-gray-1;
    background-image: url('assets/images/canon-bg.png');
    background-repeat: no-repeat;
    color: $black;
    font-family: 'optic-sans-book';
    height: 100%;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

h1 {
    font-size: 1.55rem;
    text-align: center;
    text-transform: uppercase;
}

p, li, a {
    font-size: 0.975rem;
    margin: 0.75rem 0;
}

label {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.625rem 0;
    text-align: left;
    &.tc {
        padding-top: 0.2rem !important;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   
}



