@import "../../../sass/variables.scss";

.content {
    width: 72%;
}

.title__container {
    h1 {
        margin: 0;
        text-align: center;
        text-transform: uppercase;
    }
}

.subtitle {
    font-size: 1.3rem;
    // margin: 1rem;
    margin-bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 0.9rem;

    p {
        line-height: 45px;
        margin-bottom: 0;
        text-align: left;
    }

    input {
        border: 1px solid $dark-gray-2;
        font-size: 1rem;
        padding: 0.45rem;
    }

    .ng-untouched {
        border: 1px solid $dark-gray-2;
    }

    .is-error {
        border: 1px solid $canon-red;
    }

    .error {
        color: $canon-red;
        font-size: 1rem;
        padding: 0.35rem 0;
        text-align: left;
        opacity: 0;
        min-height: 1.6rem;
        display: block;
        &.checkbox-error {
            padding: 0 0 0.5rem;
            min-height: 1.4rem !important;
        }
    }

    .error-border {
        &:before {
            border: 1px solid $canon-red;
        }
    }

    .error-show {
        opacity: 1;
    }

    .input-wrapper {
        display: flex;
        flex-direction: row;

        &__inline {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 15px;
            // width: 100%;
        }

        &.optin {

            flex-direction: row-reverse;
            margin: 20px 200px 0;

            .padding-top {
                width: 93%;
                                    font-size: 0.85rem;

                a {
                    color: blue;
                    text-decoration: underline;
                }
            }
        }
    }

    .input-container {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-right: 1rem;
        position: relative;
        width: 48%;

        &.checkboxes {
            padding-top: .5rem;
            text-align: left;
            width: 100%;

            &:first-of-type {
                padding-top: 0;
                font-size: 0.9rem;
                line-height: 1rem;
            }
        }

        .select {
            position: relative;
            background-color: $white;
            padding: 0.45rem;
            background-position: 97% 47%;
            background-repeat: no-repeat;
            font-size: inherit;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background-image: url('../../../assets/images/chevron-down.png');
            // color: $canon-red;
            outline: none;

            option {
                position: relative;

                // &:first-of-type {
                //     color: $canon-red;
                // }
            }

            &.dropdown-invalid {
                border-color: $canon-red;
                color: $canon-red;
                option {
                    color: black;
                }
            }
        }
    }

    .input-select-container {
        position: absolute;
        top: 1rem;
        z-index: 10;

        .select {
            margin-top: 0.6rem;
            width: 95%;

            .active {
                color: $canon-red !important;
            }
        }

    }

    .checkbox input[type="checkbox"] {
        opacity: 0;
        left: 0.7rem;
        position: absolute;
        top: 0.9rem;
        z-index: 1;
    }

    .checkbox {
        text-align: left;

        label {
            display: inline-block;
            padding: 0.8rem 0 0 3.125rem;
            position: relative;

            &:after,
            &:before {
                content: "";
                display: inline-block;
                position: absolute;
            }

            &:before {
                background-color: $white;
                border: 1px solid;
                height: 2rem;
                left: 0;
                top: 3px;
                width: 2rem;
            }
            /*Checkmark of the fake checkbox*/
            &:after {
                height: 0.5rem;
                border-left: 2px solid $white;
                border-bottom: 2px solid $white;
                left: 0.3rem;
                transform: rotate(-45deg);
                top: 0.75rem;
                width: 1.4rem;
            }

            span {
                text-decoration: underline;
            }
        }
    }
    /*Hide the checkmark by default*/
    .checkbox input[type="checkbox"] + label::after {
        content: none;
    }
    /*Unhide on the checked state*/
    .checkbox input[type="checkbox"]:checked + label::after {
        content: "";

    }
    /*Adding focus styles on the outer-box of the fake checkbox*/
    .checkbox input[type="checkbox"]:focus + label::before {
        // outline: rgb(59, 153, 252) auto 5px;
        // background: $canon-red;
    }

    /*Adding focus styles on the outer-box of the fake checkbox*/
    .checkbox input[type="checkbox"]:checked + label::before {
        // outline: rgb(59, 153, 252) auto 5px;
        background: $canon-red;
    }

    .c-btn {
        margin-top: 1.5rem;
    }
}

.required {
    color: $canon-red;
}
