<section class="content is-kiosk">
    <div class="title__container">

        <h1>{{ title }}</h1>

        <p class="thanks" *ngIf="thanks">{{ thanks }}</p>

        <p class="subtitle">{{ subtitle }}</p>

        <p *ngIf="content">{{ content }}</p>

    </div>

    <form name="form" (ngSubmit)="onSubmit(mainForm.valid)" #mainForm="ngForm" autocomplete="off">
        <div class="input-wrapper">
            <div class="input-container">
                <label class="label" for="name">First Name <span class="required">*</span></label>
                <input type="text" appKeyboard #name="ngModel" #nameClass required class="form-control" [class.is-error]="name.invalid && name.dirty && nameBlurred" id="name" minlength="2" pattern="^[a-zA-Zàáâäæãåāçćčèéêeëēėęîïíīįìłñńôöòóœøōõßśšûüùúūÿžźż0-9._\s'\-\(\)]{2,}$" [(ngModel)]="profileService.first_name"
                autocapitalize="on" autocomplete="off" name="name" (blur)=inputBlur($event) />

                <!-- ^.*(?=.{8,})(?=.*[a-zA-ZäöüÄÖÜß])(?=.*\d).*$ -->
                
            </div>

            <div class="input-container">
                <label for="last_name" name="last_name" class="label">Last Name <span class="required">*</span></label>
                <input type="text" appKeyboard #last_name="ngModel" #last_nameClass required class="form-control" [class.is-error]="last_name.invalid && last_name.dirty && surnameBlurred" id="last_name" autocapitalize="on" autocomplete="off" required name="last_name" minlength="2" pattern="^[a-zA-Zàáâäæãåāçćčèéêeëēėęîïíīįìłñńôöòóœøōõßśšûüùúūÿžźż0-9._\s'\-\(\)]{2,}$" [(ngModel)]="profileService.last_name" (blur)=inputBlur($event) />
            </div>
        </div>

        <div class="input-wrapper">
            <div class="input-container">
                <label for="email" class="label">Email Address <span class="required">*</span></label>
                <input type="email" appKeyboard #email="ngModel" #emailClass autocapitalize="none" autocomplete="off" name="email" required class="form-control" [class.is-error]="email.invalid && email.dirty && emailBlurred" id="email" minlength="6" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" [(ngModel)]="profileService.email" (blur)=inputBlur($event) />
            </div>

            <div class="input-container">
                <div class="input-select-container">
                    <label for="industry" class="label">What is your primary industry? <span class="required">*</span></label>
                    <select class="input"
                    name="industry"
                    id="industry"
                    #primaryIndustry="ngModel"
                    class="select"
                    (click)="changeFontColor($event)"
                    (change)="closeDropdown($event)"
                    [(ngModel)]="profileService.industry"
                    [ngClass]="{'dropdown-invalid': invalid && profileService.industry === 'Please select one option'}">
                        <!-- <option [style]="{'color': $canon-red}">Please select one</option> -->
                        <option *ngFor="let industry of industries, let index = i" [value]="industry.industry">{{ industry.industry }}</option>
                    </select>
                </div>
            </div>
        </div>

        <p>What brings you to Canon today? <span class="required">*</span></p>
        <span class="error checkbox-error" [class.error-show]="!optionTicked() && invalid">Please select one or more of the options below</span>

        <div class="checkbox">
            <div class="input-container checkboxes">
                <input type="checkbox"
                #type_q1="ngModel"
                name="new_gear"
                id="new_gear"
                [(ngModel)]="profileService.marketing.type_q1">
                <label for="new_gear">Explore new Canon gear</label>
            </div>

            <div class="input-container checkboxes">
                <input type="checkbox"
                name="business_product_solution"
                id="business_product_solution"
                #type_q2="ngModel"
                [(ngModel)]="profileService.marketing.type_q2">
                <label for="business_product_solution">I'm here to meet with Canon sales</label>
            </div>

            <div class="input-container checkboxes">
                <input type="checkbox"
                #type_q3="ngModel"
                name="question_support"
                id="question_support"
                [(ngModel)]="profileService.marketing.type_q3">
                <label for="question_support">Here to get an answer a technical question</label>
            </div>

            <div class="input-container checkboxes">
                <input type="checkbox"
                #type_q4="ngModel"
                id="reporting_cool_stuff"
                name="reporting_cool_stuff"
                [(ngModel)]="profileService.marketing.type_q4">
                <label for="reporting_cool_stuff">Get hands on training and education</label>
            </div>
        </div>

        <div class="input-wrapper optin">
            <p class="padding-top">Open to receiving email communications from Canon U.S.A Inc regarding products and promotions that might be of interest to you?</p>
            <!-- <a (click)="showTerms($event)">Terms & Conditions</a> -->
            <div class="input-wrapper__inline">
                <div class="form-group checkbox">
                    <input type="checkbox"
                    #marketingYes
                    #yesMarketing="ngModel"
                    id="yes"
                    name="yes"
                    [(ngModel)]="profileService.optin">
                    <label for="yes"></label>
                </div>
            </div>
        </div>

        <button class="button" type="submit" [ngClass]="{'disabled': !isFormValid(mainForm.valid)}">
            <span *ngIf="!isLoading">Register</span>
            <span *ngIf="isLoading">Loading...</span>
        </button>
    </form>
</section>

<app-modal id="terms-modal">
    <p>3 Days of Giveaways! Scan your passport for a chance to win the daily prize.</p>
    <p>NO PURCHASE NECESSARY TO ENTER OR WIN. Open only to residents of the 50 United States and the District of Columbia, 18 and older. Void where prohibited or restricted by law. To enter, visit Canon’s booth at WPPI, register to create your Canon Passport and receive your Canon QR Code.</p>
    <p>Then submit your entry form or scan your Canon Passport/Canon QR Code at an activation point in the Canon booth during the following entry periods: 2/27 from 10:00am – 5:00pm; 2/28 from 10:00am – 5:00pm; 3/1 from 10am – 1pm. See <span style="text-decoration: underline; cursor: pointer" (click)="goToFullTerms()">passport.usa.canon.com/#/WPPIsweeps</span> for full Official Rules. Sponsor: Canon U.S.A., Inc., One Canon Park, Melville, NY 11747</p>

    <button class="button" (click)="termsExcept()">
        I understand
    </button>
</app-modal>
