<section class="content">
    <h1 class="title">Thanks {{ name }}!</h1>
    <p class="text" *ngIf="!isCafe">We will send an email regarding {{ product.active.id }}. You can also use your email address to sign in at passport.usa.canon.com to see your Canon Passport content.</p>
    <button type="button" class="button" (click)="finish()">FINISH</button>
</section>
